{% extends 'layout.html' %}

{% block body %}

{% block javascript %}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
var socket;
$(document).ready(function(){
  socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
  socket.on('connect', function() {
    socket.emit('joined', {});
  });
  socket.on('status', function(data) {
    $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
    $('#chat').scrollTop($('#chat')[0].scrollHeight);
  });
  socket.on('message', function(data) {
    $('#chat').val($('#chat').val() + data.msg + '\n');
    $('#chat').scrollTop($('#chat')[0].scrollHeight);
  });
  $('#text').keypress(function(e) {
    var code = e.keyCode || e.which;
    if (code == 13) {
      text = $('#text').val();
      $('#text').val('');
      socket.emit('text', {msg: text});
    }
  });

  $('#translator-locale-changer option[data-locale={{ session['to_locale'] }}]').attr('selected', 'selected');
  $('#chat-locale-changer option[data-locale={{ session['from_locale'] }}]').attr('selected', 'selected');
});

function leave_room() {
  socket.emit('left', {}, function() {
    socket.disconnect();
    // go back to the login page
    window.location.href = "{{ url_for('main.index') }}";
  });
}

function change_translator_locale() {
  // change current locale
  let locale = $('#translator-locale-changer').find(':selected').attr('data-locale');
  socket.emit('change_locale', { type: 'to_locale', locale: locale })  
}

function change_chat_locale() {
  // change chat locale
  let locale = $('#chat-locale-changer').find(':selected').attr('data-locale');
  socket.emit('change_locale', { type: 'from_locale', locale: locale })  
}
</script>
{% endblock %}
<h1>Chat Auto Translator: {{ room }}</h1>
<textarea id="chat" cols="80" rows="20"></textarea><br><br>
<input id="text" size="80" placeholder="Enter your message here"><br><br>
<label>Change current chat locale:</label>
<select id='chat-locale-changer' onchange="change_chat_locale()">
  <option data-locale='en-US'>English</option>
  <option data-locale='ja'>Japanese</option>
  <option data-locale='zh-TK'>Chinese</option>
</select><br>
<label>Change Translator to:</label>
<select id='translator-locale-changer' onchange="change_translator_locale()">
  <option data-locale='en-US'>English</option>
  <option data-locale='ja'>Japanese</option>
  <option data-locale='zh-TK'>Chinese</option>
</select><br>
<a href="#" onclick="leave_room();">Leave this room</a><br>

{% endblock %}
