{% extends 'layout.html' %}
{% block body %}
{% block javascript %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
var socket;

$(document).ready(function(){
  var recordButton = $('#record-voice');

  if (location.protocol == 'https:'){
    socket = io.connect('https://' + document.domain + ':' + location.port + '/chat');
  } else {
    socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
  }

  socket.on('connect', function() {
    socket.emit('joined', {});
  });
  socket.on('status', function(data) {
    $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
    $('#chat').scrollTop($('#chat')[0].scrollHeight);
  });
  socket.on('message', function(data) {
    $('#chat').val($('#chat').val() + data.msg + '\n');
    $('#chat').scrollTop($('#chat')[0].scrollHeight);
  });
  $('#text').keypress(function(e) {
    var code = e.keyCode || e.which;
    if (code == 13) {
      text = $('#text').val();
      $('#text').val('');
      socket.emit('text', {msg: text});
    }
  });
  $('#send-message').click(function() {
     $('#text').click();
        var e = $.Event('keypress', { which: 13 });
-       $('#text').trigger(e);
  });

  $('#translator-locale-changer option[data-locale={{ session['to_locale'] }}]').attr('selected', 'selected');
  $('#chat-locale-changer option[data-locale={{ session['from_locale'] }}]').attr('selected', 'selected');

  $('.message-container').each(function(){
    $('#chat').val($('#chat').val() + $(this).val() + '\n')
  })

  navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUsermedia || navigator.mozGetUserMedia;
  if(navigator.getUserMedia){
    console.log('Get User Media Supported');
    navigator.getUserMedia({
      audio: true
    },
    function(stream){
      console.log('callback successfull');
      var mediaRecorder = new MediaRecorder(stream);
      var chunks = []
        mediaRecorder.ondataavailable = function(e){
          chunks.push(e.data);
        }

      mediaRecorder.onstop = function(e) {
        recordButton.html('Translating...');
        var blob = new Blob(chunks, { 'type': 'audio/ogg;codecs=opus' });
        var form = new FormData();
        var lang = $('#chat-locale-changer').find(':selected').attr('data-locale');
        form.append('file', blob);
        form.append('language', lang);
        $.ajax({
          type: 'POST',
          url: $SCRIPT_ROOT + '/_record_voice',
          data: form,
          processData: false,
          contentType: false
        }).done(function(data){
          recordButton.html('Hold to record <i class="fa fa-microphone"></i>');
          if(data != 'Unable to understand') {
            $('#text').val(data);
          } else {
            console.log('not understand');
          }
        });
        chunks = [];
      }

      recordButton.on('mousedown', function(){
        recordButton.html('Recording...');
        mediaRecorder.start();
      }).on('mouseup mouseleave', function(){
        mediaRecorder.stop();
      })
    },
    function(err) {
      console.log(err);
      console.log('failure callback');
    });
  }

});

function leave_room() {
  socket.emit('left', {}, function() {
    socket.disconnect();
    // go back to the login page
    window.location.href = "{{ url_for('main.index') }}";
  });
}

function change_translator_locale() {
  // change current locale
  let locale = $('#translator-locale-changer').find(':selected').attr('data-locale');
  socket.emit('change_locale', { type: 'to_locale', locale: locale })  
}

function change_chat_locale() {
  // change chat locale
  let locale = $('#chat-locale-changer').find(':selected').attr('data-locale');
  socket.emit('change_locale', { type: 'from_locale', locale: locale })  
}
</script>
{% endblock %}
{% for message in messages %}
<input class='message-container' type='hidden' value='{{ message.message }}' />
{% endfor %}
<div class="content chat">
  <section class="top">
    <h1>Chat Auto Translator: {{ room }}</h1>
  </section>
  <section class="container container-fluid">
    <div class="chat-box">
      <textarea disabled="true" class="form-control" id="chat" cols="80" rows="20"></textarea>
    </div>
    <div class='row'>
     <div class='col-xs-9 record'>
          <button id='record-voice' class='btn btn-primary'>Hold to Record <i class='fa fa-microphone'></i></button>
      </div>
      <div class='col-xs-9'>
        <div class="chat-field">
          <input id="text" size="80" placeholder="Enter your message here" class="form-control">
        </div>
      </div>
      <div class='col-xs-3'>
        <button id='send-message' class='btn btn-primary'>Send <i class='fa fa-paper-plane'></i></button>
      </div>
    </div>
    <div class="lang-change">
      <h5>Change language Settings</h5>
      <div class="lang-block">
        <label class="label">Current Chat Language:</label>
        <select id='chat-locale-changer' class="form-control" onchange="change_chat_locale()">
          <option data-locale='en-US'>English</option>
          <option data-locale='ja'>Japanese</option>
          <option data-locale='zh-TK'>Chinese</option>
        </select>
      </div>
      <div class="lang-block">
        <label class="label">Change Translation to:</label>
        <select id='translator-locale-changer' class="form-control" onchange="change_translator_locale()">
          <option data-locale='en-US'>English</option>
          <option data-locale='ja'>Japanese</option>
          <option data-locale='zh-TK'>Chinese</option>
        </select>
      </div>
      <div class="clear"></div>
    </div>
    <div class="exit-room">
      <a href="#" class="leave btn-warning" onclick="leave_room();">Leave this room</a>
    </div>
    <div class="clear"></div>
  </section>
</div>
{% endblock %}
