{% extends 'layout.html' %}

{% block body %}

{% block javascript %}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
var socket;
$(document).ready(function(){
  socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
  socket.on('connect', function() {
    socket.emit('joined', {});
  });
  socket.on('status', function(data) {
    $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
    $('#chat').scrollTop($('#chat')[0].scrollHeight);
  });
  socket.on('message', function(data) {
    $('#chat').val($('#chat').val() + data.msg + '\n');
    $('#chat').scrollTop($('#chat')[0].scrollHeight);
  });
  $('#text').keypress(function(e) {
    var code = e.keyCode || e.which;
    if (code == 13) {
      text = $('#text').val();
      $('#text').val('');
      socket.emit('text', {msg: text});
    }
  });

  $('#translator-locale-changer option[data-locale={{ session['to_locale'] }}]').attr('selected', 'selected');
  $('#chat-locale-changer option[data-locale={{ session['from_locale'] }}]').attr('selected', 'selected');
});

function leave_room() {
  socket.emit('left', {}, function() {
    socket.disconnect();
    // go back to the login page
    window.location.href = "{{ url_for('main.index') }}";
  });
}

function change_translator_locale() {
  // change current locale
  let locale = $('#translator-locale-changer').find(':selected').attr('data-locale');
  socket.emit('change_locale', { type: 'to_locale', locale: locale })  
}

function change_chat_locale() {
  // change chat locale
  let locale = $('#chat-locale-changer').find(':selected').attr('data-locale');
  socket.emit('change_locale', { type: 'from_locale', locale: locale })  
}
</script>
{% endblock %}
<div class="content chat">
  <section class="top">
    <h1>Chat Auto Translator: {{ room }}</h1>
  </section>
  <section class="container container-fluid">
    <div class="chat-box">
      <textarea disabled="true" class="form-control" id="chat" cols="80" rows="20"></textarea>
    </div>
    <div class="chat-field">
      <input id="text" size="80" placeholder="Enter your message here" class="form-control">
    </div>
    <div class="lang-change">
      <h5>Change language Settings</h5>
      <div class="lang-block">
        <label class="label">Current Chat Language:</label>
        <select id='chat-locale-changer' class="form-control" onchange="change_chat_locale()">
          <option data-locale='en-US'>English</option>
          <option data-locale='ja'>Japanese</option>
          <option data-locale='zh-TK'>Chinese</option>
        </select>
      </div>
      <div class="lang-block">
        <label class="label">Change Translation to:</label>
        <select id='translator-locale-changer' class="form-control" onchange="change_translator_locale()">
          <option data-locale='en-US'>English</option>
          <option data-locale='ja'>Japanese</option>
          <option data-locale='zh-TK'>Chinese</option>
        </select>
      </div>
      <div class="clear"></div>
    </div>
    <div class="exit-room">
      <a href="#" class="leave btn-warning" onclick="leave_room();">Leave this room</a>
    </div>
    <div class="clear"></div>
  </section>
</div>
{% endblock %}
